.header-wrapper {position: relative;}
.navi-wrapper {background-color: blueviolet; display: flex; justify-content: center;}
.navi-wrapper .navi{border: 1px solid black; padding: .7em 1.25em; margin-right: 1em; cursor: pointer;}

.sub-navi-wrapper {width: 100%; position: absolute; background-color: cadetblue;}
.sub-navi-wrapper .sub-navi {display: none; text-align: center; padding: 2em 0;}

.sub-navi-wrapper .sub-navi.nav1 {}
.sub-navi-wrapper .sub-navi.nav2 {}
.sub-navi-wrapper .sub-navi.nav3 {}
.sub-navi-wrapper .sub-navi.nav4 {}


.block-wrapper {background-color: aquamarine; width: 100%; margin: 5em 0; position: relative;}
.navi2-wrapper {display: flex; justify-content: space-between;}
.navi2-wrapper .navi2 > a {padding: 3em;}
.navi2-wrapper .navi2 > a:hover {background-color: bisque;}
.navi2-wrapper .navi2 > .sub-navi2 {position: absolute; width: 100%; background-color: #333; left: 0; display: none;}
.navi2-wrapper .navi2 > .sub-navi2.active {display: block;}


.nd-btn {background-color: aquamarine; color: black;}


.map-container {border: 2px solid red; width: 50%; height: 500px;}
.map-container  #map{width: 100%; height: 100%;}